@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Display Fonts */
  .display-large,
  .display-medium,
  .display-small {
    @apply font-space-grotesk;
    font-weight: 500;
  }
  .display-large {
    @apply text-display-lg;
    letter-spacing: -0.25px;
  }
  .display-medium {
    @apply text-display-md;
    letter-spacing: 0px;
  }
  .display-small {
    @apply text-display-sm;
    letter-spacing: 0px;
  }
  .headline-large,
  .headline-medium,
  .headline-small {
    @apply font-space-grotesk;
    font-weight: 400;
  }

  /* Headline Fonts */
  .headline-large {
    @apply text-heading-lg;
    letter-spacing: 0px;
  }
  .headline-medium {
    @apply text-heading-md;
    letter-spacing: 0px;
  }
  .headline-small {
    @apply text-heading-sm;
    letter-spacing: 0px;
  }

  /* Title Fonts  */
  .title-large,
  .title-medium,
  .title-small {
    @apply font-inter;
    font-weight: 500;
  }
  .title-large {
    @apply text-title-lg;
    letter-spacing: 0px;
  }
  .title-medium {
    @apply text-title-md;
    letter-spacing: 0.15px;
  }
  .title-small {
    @apply text-title-sm;
    letter-spacing: 0.1px;
  }
  .title-small-prominent {
    @apply text-title-sm;
    letter-spacing: 0.1px;
    font-weight: 600;
  }
  /* Label Fonts */

  .label-large,
  .label-medium,
  .label-small {
    @apply font-inter;
    font-weight: 500;
  }
  .label-large {
    @apply text-label-lg;
    letter-spacing: 0.1px;
  }
  .label-large-prominent {
    @apply text-label-lg;
    letter-spacing: 0.1px;
    font-weight: 600;
  }
  .label-medium {
    @apply text-label-md;
    letter-spacing: 0.5px;
  }
  .label-medium-prominent {
    @apply text-label-md;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  .label-small {
    @apply text-label-sm;
    letter-spacing: 0.5px;
  }

  /* Body Fonts */

  .body-large,
  .body-medium,
  .body-small {
    @apply font-inter;
    font-weight: 400;
  }
  .body-large {
    @apply text-body-lg;
    letter-spacing: 0px;
  }
  .body-medium {
    @apply text-body-md;
    letter-spacing: 0.25px;
  }
  .body-small {
    @apply text-body-sm;
    letter-spacing: 0.4px;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
